.JobCard{ 
    border-radius: 10px;
    border: 1px solid rgb(239, 239, 239);
    width: 70%;
    margin: auto;
    margin-top:  30px ; 
}
.JobCard:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.JobCard .muiCard{
    padding: 10px;
    border-radius: 10px;
    padding: 20px;

}

.DetailBtn{
    color: var(--main-color) !important;
}

.DetailBtn:hover span{
    text-decoration: underline !important;
}
.logoImg{
    background-size: contain;
    /* padding: 10px; */
    width: 200px;
    /* border: 1px solid lightgrey;  */
    border-radius: 5px;

}
.HeartIcon{
    width: 35px;
    height: 35px;
    color: rgb(249, 106, 106);
}

.locationDate{
    display: flex;
    margin-top: 2px;
    /* font-weight: 200; */
}

.description{
    
    margin-top: 3px;
    font-size: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 50px;
    position: relative;
      
}

.HeartIcon:hover {
    color: red;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

.categoryTag{
    border: 1px solid var(--main-color);
    background-color: white;
    color: var(--main-color);
}

.newTag{
    color: var(--main-color);
}