@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.profileIcon{
    color: var(--main-color);

}

.viewBtn{
    background-color: var(--main-color) !important;
    color: var(--white-color-contrast) ;    
}

.JobTable{
    margin-top: 20px;
}

.JobTable th {
    background-color: var(--main-color) !important;
    color: var(--white-color-contrast) !important;
}
  
.JobTable th svg {
    color: var(--white-color-contrast) !important;
}

.jobview{
    display: flex;
    flex-direction: column;
    width:85%;
    margin: auto;
    /* align-items: center; */
    justify-content: center;
    /* display: grid; */

    /* padding-top: 20px;
    padding-left: 200px;
    padding-right: 250px; */
}
.heading {
    text-align: center;
    /* align-content: center;
    align-self: center; */
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 50px;
    /* left: 167px; */
    left: 50%;
    position: relative;
    letter-spacing: 2px;
}
.title{
    display: flex;
    padding-top: 25px;
  

}
.heading1{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 500;
}

.jobdescription{
    display: flex;
    gap: 12px;
    text-align: left;
    padding-top: 20px;
    /* width: 100px; */
}
.heading2{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 500;
}
.paragrap2 {
    white-space: pre-wrap;
    padding-left: 110px;
}
.department{
    display: flex;
    gap: 12px;
    padding-top: 20px;
    text-align: center;
  
}
.heading3{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 500;
}
.responsibilities{
    display: flex;
    gap: 12px ;
    text-align: center;
    padding-top: 20px;
}
.heading4{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
}
.paragrap1 {
 padding-left: 200px;
}
.responsibilitieslist {
    padding-left: 268px;
}


.paragrap3 {
   
    padding-left: 99px;
}

.paragrap5 {
    margin-left: 2px;

}
.degrees{
    display: flex;
    gap: 12px ;
    text-align: center;
    padding-top: 20px;
}
.heading5{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
}
.degreelist {
    padding-left: 268px;
}
.employement{
    display: flex;
    gap: 12px ;
    text-align: center;
    padding-top: 20px;
}
.heading6{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    font-weight: 500;
}
.paragrap6{
    width: 556px;
 
}
.employmentlist{
    padding-left: 268px;
}

.softskills{
   display: flex;
   gap: 12px;
    text-align: center;
    padding-top: 20px;
}
.heading7{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    font-weight: 500;
}

.paragrap7 {
   
    width: 556px;
 
}
.softskillslist{
    padding-left: 268px;
}
.technicalskills{
    display: flex;
    gap: 12px;
    padding-top: 20px;
     text-align: center;

 }
 .heading8{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    font-weight: 500;
 }

 .paragrap8 {
     width: 556px;
  
 }
 .technicallist{
    padding-left: 268px;
 }
 .perksandbenefits{
    display: flex;
    gap: 12px;
     text-align: center;
     padding-top: 20px;
 }
 .heading9{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
   
    font-weight: 500;
 }

 .paragrap9 {
    
     width: 556px;
 
 }
 .perksandbenefitslist{
    padding-left: 268px;
    
 }
 .location{
    display: flex;
    gap: 12px;
    padding-top: 20px;
     text-align: center;
 }
 .heading10{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 500;
 }
 
 .experience{
    display: flex;
    padding-top: 20px;
    gap: 12px;
     text-align: center;
 }
 .heading11{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
 }
 .paragrap11{
   padding-left: 120px;
    
 }
 .vacancies{
    display: flex;
    gap: 12px;
    padding-top: 20px;
     text-align: center;
 }
 .heading12{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 500;
 }
 .paragrap10{
    padding-left: 148px;
 }
 .paragrap12{
    
    padding-left: 127px;
  
 }
 .gender{
    display: flex;
    gap: 12px;
    padding-top: 20px;
     text-align: center;
 }
 

 .heading13{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 500;
 }
 
.paragrap13 {
    
 padding-left: 168px;
  
 }
 .genderlist{
     margin-top: -4px;

    
 }
 .travelling{
    display: flex;
    gap: 12px;
    padding-top: 20px;
     text-align: center;
 }
 .heading14{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
 }
 
 

 .paragrap14 {
    padding-left: 66px;
 }
 .travellinglist{
     margin-top: -4px;
     margin-left: 241px;
    
 }
 .closingdate{
    display: flex;
    gap: 12px;
     text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
 }
 .heading15{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
 }

 .paragrap15{
    
    padding-left: 100px;
 }

 .icon {
  
    color: white;
    height: 42px;
    left: 329px;
    position: relative;
    background-color: #1877f2;
    border-radius: 20px;
    text-align: center;
    width: 120px;
}


.herosec{
    display: flex;
   
}
.line {
    border-bottom-style: solid;
    border-bottom-width: 0.1px;
    border-color: #8080808a;
    padding-bottom: 20px;
   
}  

.edit{
    top: 7px;
    position: relative;
}

.fontAwesomeEdit{
    position: relative;
    top: 7px;
    right: 2px;
}