.MainContainerOfDropDown{
    width: 60%;
    margin: auto;
}


.DeleteIcon{
    color: rgba(255, 8, 8, 0.856);
    font-size: 20px;  
    padding: 5px;
}

.DeleteBtn[disabled] .DeleteIcon{
    color: darkgray;
}
.heading {
    text-align: center;
    font-size: 25px;
    padding-top: 25px;
    font-weight: 500;
}
.textbox{
    margin: auto;
    width: 352px;
    padding-bottom: 30px;
    padding-top: 20px;
}
       
.text{
    width: 260px;
    height: 25px;
}
.button{
   
    width: 84px;
    height: 31px;
    left: 20px;
    text-decoration: none;
    background-color: #1877f2;
    position: relative;
    border: none;  
    color: white;
    border-radius: 5px;
}
.cycle_btn{
    color: green;
    font-size: 20px;
}
.JobTable th {
    background-color: var(--main-color) !important;
    color: var(--white-color-contrast) !important;
}
  
.JobTable th svg {
    color: var(--white-color-contrast) !important;
}


.JobsTableHeading{
    /* border: 1px solid black; */

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    /* justify-content: space-around; */
}

.JobsTableHeading h1{
    color: var(--main-color) !important;
    padding-right: 20px;
    /* margin-left: 50%; */
}