.JobTable th {
    background-color: var(--main-color) !important;
    color: var(--white-color-contrast) !important;
}
  
.JobTable th svg {
    color: var(--white-color-contrast) !important;
}


.JobsTableHeading{
    /* border: 1px solid black; */

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    /* justify-content: space-around; */
}

.JobsTableHeading h1{
    color: var(--main-color) !important;
    padding-right: 20px;
    /* margin-left: 50%; */
}

.addBtn{
    color: var(--main-color);
}

.DeleteIcon{
    /* color: #d32f2f; */
    color: lightcoral;
}
.DeleteIcon:hover{
    color: red;
}
.DeleteBtn[disabled] .DeleteIcon{
    color: darkgray;
}

.cloneIcone{
    color: var(--main-color);
}

.editIcon{
    color: var(--main-color)!important;
}

.viewBtn{
    background-color: var(--main-color) !important;
    color: var(--white-color-contrast) ;    
}

.sameIconColor{
    color: var(--white-color-contrast) ;
}