.sideBar{
    flex: 1;
    height: calc(100vh - 50px);
    position: sticky;
    top: 50px;
}

.sideBarWrapper{
    padding: 20px;
    color: #555;
}

.sideBarMenu{
    margin-bottom: 10px;
    border: 1px solid;
    padding: 10px;
    border-radius: 10px;
}

.sideBarTitle{
    font-size: 18px;
    font-weight: bold;
    
    color: rgb(140, 137, 137);  
    margin-top: 5px;
}


.sideBarList{
    list-style-type: none;
    padding: 3px;
}

.sideBarListItem{
    padding: 10px;
    display: flex;
    align-items: center;  
    color: #555;
    cursor: pointer;
}

.sideBarListItem.active, .sideBarListItem:hover{
    border-radius: 5px;
    background-color: rgb(217, 240, 240);
}

.menuIcon{
    margin-right: 10px;
}