.mainContainer {
  display: flex;
  flex-direction: column;
}

.formCreateStaff {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form_row {
  display: flex;
  justify-content: center;
}

.form_column {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 20px;
}

.row {
  display: flex;
  flex-direction: column;
}

.column {
  display: flex;
  align-items: center;
}

.column label {
  width: 180px;
}


.createStaffHeading {
  text-align: center;
}

/* Input css */
.usericon {
  width: 180px;
  margin-top: 10px;
  margin-bottom: 26px;
  margin-left: 150px;
}

.maxSize {
  width: 100%;
  margin: 10px;
}

.halfSize {
  width: 100%;
  margin: 10px;
}


.select {
  padding: 10px 10px 10px 30px;
  font-size: 1.2rem;
  border-radius: 6px;
  background-color: #f0f0f0;
  outline: none;
  border: 1px solid #6270b1;
  width: 420px;
}

.option {
  text-transform: capitalize;
}

.btnDiv{
  display: flex;
  justify-content:center;
  margin-top: 20px;
}

.picColumn{
  display: flex;
  justify-content: center;
}

.saveButtonStaff {
  margin: 10px !important;
  border-radius: 12px !important;
  width: 80px !important;
  background-color: #2196F3 !important;
  border: 1px solid white !important;
  outline: none !important;
  font-size: 1.1rem !important;
  color: white !important;
  cursor: pointer !important;
  transition: ease-out 500ms !important;
  margin-right: 7px !important;
  text-align: center;
}

.saveButtonStaff:hover {
  color: black !important;
  background-color: white !important;
  border: 1px solid #2196F3 !important;
}

.error {
  color: red;
  margin-left: 180px;
}

@media (max-width: 760px) {
  /* .usericon {
    width: 100px;
    margin-right: 50px;
  } */

  .picColumn{
    display: flex;
    justify-content: center;
    width: 100px;
  }

  .mainContainer {
    width: 50%;
    display: grid;
  }
   .formCreateStaff {
    padding: 20px;
    width: 100%;
    display: grid;
  }
  
  .form_row {
    display: grid;
    justify-content: center;
  }
  
  .form_column {
    display: grid;
    width: 140%;
    margin: 0 20px; 
   }  
  
   .row {
    display: grid;
  }
  
  .column {
    display: grid;
    align-items: center;
  }  
  
  .halfSize {
    width: 100%;
    margin: 10px;
  }
  
} 

@media (min-width: 761px) and  (max-width: 1600px) {
  .mainContainer {
    width: 100%;
  }
  .mainContainer {
    display: flex;
    flex-direction: column;
  }
  
  .formCreateStaff {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .form_row {
    display: flex;
    justify-content: center;
  }
  
  .form_column {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 20px;
  }
  
  .row {
    display: flex;
    flex-direction: column;
  }
  
  .column {
    display: flex;
    align-items: center;
  }
  
  .column label {
    width: 180px;
  }
  
  
  .createStaffHeading {
    text-align: center;
  }
  
  .usericon {
    width: 150px;
    margin-top: 10px;
    margin-bottom: 26px;
    margin-left: 150px;
  }
  
  .halfSize {
    width: 100%;
    margin: 10px;
  }
} 