.contentBody {
    margin: 20px;
}

.center {
    text-align: center;
}

.antTable th {
    background-color: #4481eb !important;
    color: white !important;
    text-align: center !important;
}

.antTable td {
    text-align: center !important;
}

.link {
    color: #4481eb;
    font-weight: bold;
}

.link:hover {
    text-decoration: underline;
}