.containerz{
    display: flex;
}

.pages{
    flex: 5;
    background-color: rgb(217, 240, 240);
    padding: 20px;
}

.btn-danger{
    background-color: rgb(248, 82, 63);
    width: fit-content;
    padding: 7px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}
.btn-danger:hover{
    background-color: rgb(202, 81, 68);
    width: fit-content;
    padding: 7px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.btn-success{
    background-color: rgb(99, 171, 48);
    width: fit-content;
    padding: 7px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

